@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    
    font-size: 62.5%;
}

body, span, input, button {
    font-family: 'Poppins', sans-serif;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 62.8% auto;
}

.main {
    background-color: #191816;
    padding: 5.0rem;
}

.img {
    background-image: url(./images/side-image-2x.jpg);
    background-size: cover;
}

header {
    margin: .5rem 3rem;
}

.login {
    background-color: #24221F;
    display: flex;
    flex-direction: column;

    margin: 5.64rem auto;
    padding: 5.0rem 10.0rem;
    max-width: 55rem;
    min-height: 51rem;
    border-radius: 0.4rem;
}

.login h1 {
    font-size: 2.4rem;
    font-weight: 600;
    color:#D4CCB6;
    display: flex;
    gap: 6px;
}

.login p {
    font-weight: 500;
    font-size: 1.6rem;
    color: #AFB6C2;
    margin-bottom: 2.7rem;
    margin-top: 8px;
}

.login span {
    color: #AFB6C2;
    font-weight: 500;
    font-size: 1.6rem;
    margin-bottom: 6px;
}

.input {
    overflow:hidden ;
    display: flex;
    gap: 1.2rem;
    border: 1px solid #868686;
    border-radius: 4px;
    padding: 1.0rem;
    margin-bottom: 2.0rem;
    cursor: pointer;
    max-width: 35rem;

}

.input input:focus, textarea:focus {
    outline: 0;
}

.input input {
    background: none;
    border: none;
    margin-right: auto;
}

.checkbox  {
    margin-bottom:2.0rem ;
    display: flex;
    align-items: center;
}

.checkbox span{
    font-weight: 400;
    font-size: 1.6rem;    
}
.checkbox a {
    padding-left: 8.0rem;
    font-weight: 600;
    font-size: 1.4rem;
    color: #FFC632;
    text-decoration: none;
}

button {
    max-width: 35rem;
    padding: 1.2rem 10rem;

    background: #FFC632;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background: #f8b60f;
}

a {
    margin: 1.4rem auto;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.4rem;
    color: #FFC632; 
}

@media (max-width: 1035px) {
    .checkbox  {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .checkbox a {
        padding: 0;
    }

}

@media (max-width: 800px) {
    .container {
        display: block;
    }
    .login {
        padding: 3rem;
        background: none;
    }

    
}